* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #56d0e0;
}

.container {
    margin: 0 25%;
}

header {
    background-color: #27bacd;
    padding: 16px 0;
    color: #000;
    display: flex;
    border-bottom: 16px solid #1f7f97;
    justify-content: center;
    text-transform: uppercase;
    font-style: italic;
    border-radius: 8px;
}

header button {
    margin-left: 16px;
}

form {
    background-color: #c8d6e5;
    padding: 24px 0;
    text-align: center;
    display:none;
    border-radius: 8px;
}

form h2 {
    margin-bottom: 16px;
}

input,
button {
    padding: 8px
}

button{
    background-color: #009432;
    border: none;
    font-weight: bold;
    text-transform: uppercase;
    color: #000;
    cursor: pointer;
}

#botao-cancelar {
    background-color: #545a5f;
}

#botao-apagar {
    background-color: red;
}

ul {
    text-align: center;
    margin-bottom: 30px;

}

ul li {
    list-style: none;
    margin: 8px 80px;
    border-radius: 4px;
    padding: 8px 0px;
    background-color: #1f7f97;
}

ul li:hover{
    cursor: pointer;
}

.feito {
    text-decoration: line-through;
}

footer {
    background-color: #27bacd;
    width: 100%;
    text-align: center;
    position: fixed;
    bottom: 0;
    padding: 14px;
    border-top:  8px solid #1f7f97;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    margin-top: 30px;
}